PORT=5000
MONGODB_URI=mongodb://localhost:27017/veag
# OR use MongoDB Atlas connection string:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/veag?retryWrites=true&w=majority

# Razorpay Configuration
RAZORPAY_KEY_ID=your_key_id_here
RAZORPAY_KEY_SECRET=your_key_secret_here


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here


# Gradio AI Model Configuration
GRADIO_SPACE_URL=your_gradio_space_url_here